/*
 * SPDX-FileCopyrightText: <text>Copyright (c) 2026 Infineon Technologies AG,
 * or an affiliate of Infineon Technologies AG. All rights reserved.</text>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>

/* SCB0 is the only SPI-capable SCB on this package, so the hardware UART
 * console on SCB0 is disabled in favor of SPI master mode. This sample has
 * no console; verify operation with a logic analyzer and by watching the
 * slave board's LED toggle.
 *
 * Logic-analyzer probe points:
 *   MOSI -> P0.2
 *   MISO -> P0.3
 *   SCLK -> P2.4
 *   CS   -> P2.5 (SCB hardware slave-select SS0, active low)
 */

uart0: &scb0 {
	status = "disabled";
};

spi1: &scb0 {
	compatible = "infineon,spi";
	status = "okay";
	/delete-property/ current-speed;
	pinctrl-0 = <&p0_2_scb0_spi_mosi &p0_3_scb0_spi_miso
		     &p2_4_scb0_spi_clk &p2_5_scb0_spi_select0>;
	pinctrl-names = "default";
	clocks = <&peri_clk_div1>;
	#address-cells = <1>;
	#size-cells = <0>;
};

&p0_2_scb0_spi_mosi {
	drive-push-pull;
};

&p0_3_scb0_spi_miso {
	input-enable;
};

&p2_4_scb0_spi_clk {
	drive-push-pull;
};

&p2_5_scb0_spi_select0 {
	drive-push-pull;
};

&gpio_prt0 {
	status = "okay";
};

&gpio_prt2 {
	status = "okay";
};

&peri_clk_div1 {
	status = "okay";
	clock-div = <3>;
};
